<div class="header clearfix">
    <div class="pull-left">
        Layers 
    </div>
    <% if (window.user.access.multipleLayers) { %>
        <div class="padded clearfix">
            <div class="pull-right">
                <button id="addLayer" class="btn padded"> Add Layer </button>
            </div>
        </div>
    <% } %>
</div>

<div id="savedLayersContainer">
    <ul id="layersList" class="sortable ui-sortable"></ul>
    <hr />
    <% if (window.user.access.multipleLayers) { %>
        <div class="padded clearfix">
            <div class="pull-right">
                <button id="addBaseLayer" class="btn padded"> Add Basemap </button>
            </div>
        </div>
    <% } %>
    <div id="baseLayersList"></div>

</div>
