<div class="saved-filter clearfix collapsed notExpanded <% if (tempChecked == true) { %> selected <% } %>">
    <div class="pull-left">
        NAME GOES HERE
    </div>
    <div class="pull-right">
        <div class="collapsed-checkbox">
            <input id="ID-checkbox" class="checkbox" type="checkbox" />
        </div>
    </div>
</div>
<div id="ID-container" class="filter-operands-container clearfix">
    <div class="vpadded10">
        <input id="filterName" type="text" placeholder="Layer URL" value="URL GOES HERE" style="margin-left: 5px;"/>
    </div>
        <div class="pull-right padded">
            <button id="ID-remove" class="btn btn-small btn-danger deleteLayer"> Remove </button>
            <button id="ID-restore" class="btn restoreLayer"> Restore </button>
            <button id="ID-save" class="btn saveLayer"> Save </button>
        </div>
    </div>


