<div class="saved-filter clearfix collapsed notExpanded collapsed-header">
    <div class="pull-left">
        <%= layer.get("title") %>
    </div>
</div>
<div id="<%= layer.get("_id") %>-container" class="filter-operands-container clearfix">
    <% if (!layer.get("isExactEarth")) { %>
    <div class="vpadded10">
        <input id="filterName" type="text" value="<% layer.get('url') %>"style="margin-left: 5px;"/>
    </div>
    <div class="pull-right padded">
        <button id="ID-remove" class="btn btn-small btn-danger deleteLayer"> Remove </button>
        <button id="ID-restore" class="btn restoreLayer"> Restore </button>
        <button id="ID-save" class="btn saveLayer"> Save </button>
    </div>
    <% } else { %>
    <div class="vpadded10 padded">
        <div class="bordered-box">
            <div>
                <ul id="<%= layer.get('_id') %>-layer" class="sortable">
                    <% if (!_.isArray(eeLayer.Style)) {
                        isActive = eeLayer.Name == layer.get("name") %>
                            <li id="<%= eeLayer.Style.Name %>" class="ui-state-default <% if (!isActive) { %> ui-state-disabled <% } %>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><label><input class="styleCheckbox" type="checkbox" <% if (isActive) { %> checked <% } %>  /> <%= eeLayer.Style.Title %></label></li>
                        <% } else  {
                        _.each(eeLayer.Style, function(eeStyle) { 
                            isActive = _.contains(styles.split(","), eeStyle.Name) %>
                            <li id="<%= eeStyle.Name %>" class="ui-state-default <% if (!isActive) { %> ui-state-disabled <% } %>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><label><input class="styleCheckbox" type="checkbox" <% if (isActive) { %> checked <% } %>  /> <%= eeStyle.Title %></label></li>
                            <% }); 
                        } %>
                </ul>
            </div>
        </div>
    </div>
    <% } %>
</div>



