.content {
    top: 5%;
}

.map { 
    width: 100%; 
    height: 100%;
}

.max-everything {
    width: 100%;
    height: 100%;
}

.map img {
    max-width:none; 
}

.header-image {
    height: 100%;
}

[class*="bar-"] {
    background-color: #000;
    position: inherit;
    color: #bbb;
}

.header-title {
    top: 0;
    display: -webkit-box;
    display: box;
    color: #bbb;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}

.controls-container {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.mobile-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

.bottom-stick {
    position: absolute;
    bottom: 10px;
}

.vertical-spacer-below-title {
    padding-top: 44px;
}

.top-spacer20 {
    margin-top: 20px;
}

.bottom-spacer20 {
    margin-bottom: 20px;
}

.center-nav-title {
    position: absolute;
    left: 45%;
    margin-left: -12px;
}

.footer {
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
}

.hide {
    display: none;
}

.onTop {
    position: absolute;
    left: 300px;
    top: 400px;
    z-index: 1010;
    height: 400px;
    width: 300px;
}
