.content {
    top: 5%;
}

.map { 
    width: 100%; 
    height: 100%;
}

.max-everything {
    width: 100%;
    height: 100%;
}

.map img {
    max-width:none; 
}

.header-image {
    height: 100%;
}

[class*="bar-"] {
    background-color: #000;
    position: inherit;
    color: #bbb;
}

.header-title {
    top: 0;
    display: -webkit-box;
    display: box;
    color: #bbb;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}

.controls-container {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.mobile-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

.bottom-stick {
    position: absolute;
    bottom: 10px;
}

.vertical-spacer-below-title {
    padding-top: 44px;
}

.top-spacer20 {
    margin-top: 20px;
}

.bottom-spacer20 {
    margin-bottom: 20px;
}

.center-nav-title {
    position: absolute;
    left: 45%;
    margin-left: -12px;
}

.footer {
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
}

.hide {
    display: none;
}

.onTop {
    position: absolute;
    left: 300px;
    top: 400px;
    z-index: 1010;
    height: 400px;
    width: 300px;
}


//-------------Sidebar----------------

#content, #sidebar {
    text-align: center;
    border: 1px solid;
}
 
#sidebar {
    border-color: #BCD;
    display: none;
}
#content {
    border-color: #CDC;
}
 
.use-sidebar #content {
    width: 65%;
    height: 100%;
}

.use-sidebar #sidebar {
    display: block;
    width: 32%;
    height: 100%;
}

.sidebar-at-left #sidebar {margin-right: 1%;}
.sidebar-at-right #sidebar {margin-left: 1%;}

.use-sidebar.side-at-left #content, .use-sidebar.side-at-right #sidebar {float: right;}
.use-sidebar.side-at-right #content, .use-sidebar.side-at-left #sidebar {float: left;}

.separator-arrow {
    position: absolute;
    top: 1%;
    left: 32%;
    height: 50px;
    z-index: 15;
    cursor:pointer;
}

.separator-arrow .extended {
    left: 3%;
    height: 50px;
    width: 50px;
    z-index: 15;
}

#separator {
    background-color: #EEE;
    border: 1px solid #CCC;
    display: block;
    outline: none;
    width: 1%;
}

.use-sidebar #separator {
    background: url('img/vertical-separator.gif') repeat-y center top;
    border-color: #FFF;
}

#separator:hover {
    border-color: #ABC;
    background: #DEF;
}

//---------------End Sidebar-----------------
