h4 {
    padding-left: 5px;
}

select {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
}

.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 7%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #000;
    color: #bbb;
}

.content {
    top: 7%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 15;
    background: #fff;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.search-form {
    position: absolute;
    left: 30%;
}

.search-help {
    font-size: xx-small;
}

.map { 
    width: 100%; 
    height: 100%;
}

.max-everything {
    width: 100%;
    height: 100%;
}

.map img {
    max-width:none; 
}

.header-image {
    height: 90%;
}

.header-title {
    top: 0;
    display: -webkit-box;
    display: box;
    color: #bbb;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}

.controls-container {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    position:absolute;
    top: 0;
    right: -10px;
    z-index: 999;
    background-color: rgba(50, 50, 50, 0.5);
    -webkit-transition: width 0.2s; /* Safari and Chrome */
}

.side-controls-container{
    position: relative;
    width: auto;
    right: 0;
}

.mobile-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
}

.bottom-stick {
    position: absolute;
    bottom: 10px;
}

.vertical-spacer-below-title {
    padding-top: 44px;
}

.top-spacer20 {
    margin-top: 20px;
}

.bottom-spacer20 {
    margin-bottom: 20px;
}

.center-nav-title {
    position: absolute;
    left: 45%;
    margin-left: -12px;
}

.footer {
    bottom: 0;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 15;
}

.hide {
    display: none !important;
}

.onTop {
    position: absolute;
    left: 300px;
    top: 400px;
    z-index: 1010;
    height: 400px;
    width: 300px;
}

.icon {
    width: auto;
    height: auto;
}

.icon-small {
    width: 15px;
    height: 15px;
}

.btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0px;
}

//-------------Sidebar----------------

#content, #sidebar {
    text-align: center;
    border: 1px solid;
}

#sidebar {
    border-color: #BCD;
    position: absolute;
    top: 0;
    background-color: #fff;
    z-index: 1100;
    height: 100%;
    width: 40%;
    -webkit-transition: width 0.2s; /* Safari and Chrome */
}
#content {
    border-color: #CDC;
}

.sidebar-at-left #sidebar {margin-right: 1%;}
.sidebar-at-right #sidebar {margin-left: 1%;}

.use-sidebar.side-at-left #content {
    float: right;
}

.use-sidebar.side-at-right #sidebar {float: right;
}
.use-sidebar.side-at-right #content, .use-sidebar.side-at-left #sidebar {float: left;}

.separator-arrow {
    position: absolute;
    top: 50px;
    left: 1%;
    z-index: 15;
    cursor:pointer;
    -webkit-transition: left 0.2s; /* Safari and Chrome */
    border: 1px solid gray;
    background-color: rgba(50, 50, 50, 0.3);
    padding: 5px;
    z-index: 900;
}

.extended {
    left: 40%;
}

.loader {
    padding-left: 10px;
}

//---------------End Sidebar-----------------

.wide-30 {
    width: 30%;
}

.wide-90 {
    width: 90%
}

.vertical-5 {
    padding-top: 5px;
}

.padded {
    padding: 5px;
}

.unpadded {
    padding: 0;
}
