 <div class="controls-container"> 
     This is the container for all the controls"
 </div>

 <div class="clearfix max-everything">

    <div class="use-sidebar side-at-left max-everything" id="main">
        <div class="separator-arrow"> --- </div>
        <div id="content" class="max-everything">
            <div id="mapView" class="max-everything">
                <div id="openLayersImage" class="max-everything"></div>
            </div>
        </div>

        <div id="sidebar">Sidebar</div>

        <div class="clearer">&nbsp;</div>

    </div>

</div>


<div id="dialog" class="hide"></div>
