
 <div class="clearfix max-everything">

    <div class="side-at-left max-everything" id="main">
        <div id="separator" class="separator-arrow btn">
            <img id="collapseImage" src="../../img/arrow-right.png" class="icon-small" />
        </div>
        <div id="content" class="max-everything">
            <div id="mapView" class="max-everything">
                <div id="openLayersImage" class="max-everything"></div>
            </div>
        </div>

        <div id="sidebar" style="display: none;"></div>

        <div class="clearer">&nbsp;</div>

    </div>

</div>


<div id="dialog" title="TEST"></div>
