<div class="home btn-group">&nbsp;<span class="glyphicon glyphicon-user"></span> Admin</div><div class="tab btn-group">
    <button type="button" class="btn btn-default glyphicon glyphicon-th" data-toggle="dropdown"></button>
    <ul class="dropdown-menu pull-right">
      <li><a  href="#">Home</a></li>
      <div style="border-top: 5px black solid;"/>
      <li><a href="#data">Data Access</a></li>
      <div style="border-top: 5px black solid;"/>
      <li><a id="logout">Logout</a></li>
    </ul>
  </div>
<a type="button" class="btn btn-surveyButtons top_button" style="margin-top: -5px;" id="a">Create Admin</a>
<div class="block" id="block_a" >
        <input type="text" id="username" class="form-control FT" placeholder="Email"/>
        <input type="password" id="password" class="form-control FT" placeholder="Password"/>
        <button id="createAdmin" class="btn btn-primary FT">Create Administrator</button>
 </div>
<a type="button" class="btn btn-surveyButtons top_button" id="b">Change Administrator Privelages</a>
<div class="block" id="block_b" >
        <input type="text" id="username2" class="form-control FT" placeholder="Email"/>
        <button id="upgradeToAdmin" class="btn btn-primary twoButtons changeAdmin">Add Admin Privelages</button><button id="removeAdmin" class="btn btn-primary twoButtons changeAdmin" >Remove Admin Privelages</button>
        <div style="height: 5%"/>
 </div>
 <a type="button" class="btn btn-surveyButtons top_button" id="c">Add Beaches</a>
<div class="block" id="block_c" >
        <input type="text" id="beachName" class="form-control FT" placeholder="Beach Name"/>
        <input type="text" id="city" class="form-control FT" placeholder="City"/>
        <input type="text" id="state" class="form-control FT" placeholder="State"/>
        <input type="text" id="country" class="form-control FT" placeholder="Country"/>
        <input onkeypress='validate(event)' type="text" id="lat" class="form-control FT" placeholder="Latitude"/>
        <input onkeypress='validate(event)' type="text" id="lon" class="form-control FT" placeholder="Longitude"/>
        <button id="createBeach" class="btn btn-primary FT">Create Beach</button>
</div>
 <a type="button" class="btn btn-surveyButtons top_button" id="d">Remove/Edit Beaches</a>
<div class="block" id="block_d" style="border-top: 5px black solid;" >
<%
_.each(data, function( model ) {
%>
<div class="btn-admin-beach" id="title_<%= model.attributes._id %>" >
    <div id="data_<%= model.attributes._id %>" style=" display: inline-block; height: 200px; color: #3AF; margin-left: 10px;">
        <%= model.attributes.beachName %> (<%=model.attributes.beachID%>)
        <div />
        <span style="color: black; font-size: 24px; display: inline-block;"><span id="city_<%= model.attributes._id %>"><%= model.attributes.city %></span>, </span>
        <span style="color: black; font-size: 24px;; display: inline-block;"><span id="state_<%= model.attributes._id %>"><%= model.attributes.state %></span>, </span>
        <span style="color: black; font-size: 24px; display: inline-block;"><span id="country_<%= model.attributes._id %>"><%= model.attributes.country %></span></span>
        <span style="color: black; font-size: 24px; display: block; ">(<span id="lat_<%= model.attributes._id %>"><%= model.attributes.lat %></span>, <span id="lon_<%= model.attributes._id %>"><%= model.attributes.lon %></span>)</span>
    </div>
    <div style="display: inline-block;float: right; width: 200px;">
        <button id="delete_<%= model.attributes._id %>"class="btn btn-primary changeBeach" style="display: block; margin-bottom: 10px; margin-top: 5px; width: 180px; height: 90px;"  >Delete Beach</button>
        <button id="edit_<%= model.attributes._id %>"class="btn btn-primary changeBeach" style="display: block; width: 180px; height: 90px;">Edit Beach</button>
    </div>
    <div id="editData_<%= model.attributes._id %>" style="display: none; padding-top: 30px;">
        <input type="text" id="edit_beachName_<%= model.attributes._id %>" class="form-control FT" placeholder="Beach Name" value="<%= model.attributes.beachName %>"/>
        <input type="text" id="edit_city_<%= model.attributes._id %>" class="form-control FT" placeholder="City" value="<%= model.attributes.city %>"/>
        <input type="text" id="edit_state_<%= model.attributes._id %>" class="form-control FT" placeholder="State" value="<%= model.attributes.state %>"/>
        <input type="text" id="edit_country_<%= model.attributes._id %>" class="form-control FT" placeholder="Country" value="<%= model.attributes.country %>"/>
        <input onkeypress='validate(event)' type="text" id="edit_lat_<%= model.attributes._id %>" class="form-control FT" placeholder="Latitude" value="<%= model.attributes.lat%>"/>
        <input onkeypress='validate(event)' type="text" id="edit_lon_<%= model.attributes._id %>" class="form-control FT" placeholder="Longitude" value="<%= model.attributes.lon %>"/>
        <button id="saveEdit_<%= model.attributes._id %>" class="btn btn-primary FT changeBeach">Save Edit</button>
    </div>
</div>
<%
});
%>
</div>
 <a type="button" class="btn btn-surveyButtons top_button" id="e">Import Beaches</a>
<div class="block" id="block_e" >
	<p style="width: 90%; text-align: center; font-size: 25px; margin-left: 5%;">Importing beaches imports data from the excel file. If a beach exists in the excel file but not in the database, it will create a beach. If a beach exists in both the file and the database, it will do nothing. If a beach exists in the database but not the excel file, it will also do nothing. This prevents beaches that are present in the database but not the file from being deleted. The beaches are tracked by beachID so you can have 2 beaches exactly the same as long as their beachID is different.</p>
	<button id="import" class="btn btn-primary FT">Import Beaches</button>
</div>
<div style="border-bottom: 5px solid black;"/>