<div id="header"style="position: fixed; width: 100%; border-style: solid; background-color: white; border-width: 5px; border-color:black; z-index: 1000; top: 0px;">
    <a type="button" class="btn back" style="width: 80%; display: inline-block;" id="Name" href="#"><span class="glyphicon glyphicon-chevron-left"></span><span> Beaches </span></a><a type="button" class="btn back" style="width: 20%; display: inline-block; text-align: center; border-left: 5px black solid;" href="#search"><span class="glyphicon glyphicon-search"></span></a>
    <a type="button" class="btn btn-view disabled" style="background-color: gray;"href="#status" >List</a><a type="button" class="btn btn-view" href="#map">Map</a>
</div>
<script>
    document.getElementById("container").style.marginTop = $("#header").height()+10;
</script>
<div id="container">
<%
_.each(attributes, function( attribute ) {
%>
<a type="button" class="btn btn-infoButtons" href="#info/<%= attribute._id %>">
    <%= attribute.beachName %>
    <span style="color: black; font-size: 75%; display: block;"><%= attribute.city %>, <%= attribute.state %>, <%= attribute.country %></span>
    <span style="color: black; font-size: 75%; display: block; margin-top: 20px;"> Status - <%= attribute.lastRating %> </span>
    <span style="color: black; font-size: 75%; display: block;"> Last Updated - <%= new Date(attribute.lastUpdated) %> </span>
</a>
<%
});
%>
</div>