<div id="header"style="position: fixed; width: 100%; border-style: solid; background-color: white; border-width: 5px; border-color:black; z-index: 1000; top: 0px;">
    <a type="button" class="btn back" id="Name" href="#"><span class="glyphicon glyphicon-chevron-left"></span><span> Beaches </span></a>
    <a type="button" class="btn btn-view disabled" style="background-color: gray;"href="#status" >List</a><a type="button" class="btn btn-view" href="#map">Map</a>
</div>
<script>
    document.getElementById("container").style.marginTop = $("#header").height()+10;
</script>
<div id="container">
<%
_.each(attributes, function( attribute ) {
%>
<a type="button" class="btn btn-infoButtons" href="#info/<%= attribute._id %>">
    <%= attribute.beachName %>
    <span style="color: black; font-size: 50%; display: block;"><%= attribute.city %>, <%= attribute.state %>, <%= attribute.country %></span>
    <span style="color: black; font-size: 50%; display: block; margin-top: 20px;"> Status - <%= attribute.created %> </span>
</a>
<%
});
%>
        <button class="btn-submit">SUBMIT</button>
<div style="margin-bottom: 300px;"class="ui-widget">
  <label for="beachname">Tags: </label>
  <input id="beachname">
</div>

</div>