<div id="header"style="position: fixed; width: 100%; border-style: solid; background-color: white; border-width: 5px; border-color:black; top: 0px;">
    <a type="button" class="btn back" id="RateCleanliness" onClick="history.go(-1);return true;"><span class="glyphicon glyphicon-chevron-left"></span><span> Search Surveys</span></a>
    <h4> Search Survey By Beach </h4>
    <input type="text" id="beachname" class="form-control FT" style="margin-left: 10px;" placeholder="Beach Name"/>
<script>
</script>
<h4 style="width: calc(50% - 15px); display: inline-block;"> Start Date </h4><h4 style="width: calc(50% - 15px); display: inline-block;"> End Date </h4>
    <input id="startDate" class="form-control" style="width: calc(50% - 15px); display: inline-block; margin-left: 10px" value="01/01/2014" />
    <input id="endDate" class="form-control" style="width: calc(50% - 15px); margin-left: 10px; display: inline-block;"/>

        <button style="margin-left: 20px; margin-top: 20px;" id="surveySearch" class="btn btn-primary FT2">Search</button>
<script>
   $(document).ready(function() {
        $("#startDate").datepicker();
    });
      $(document).ready(function() {
        $("#endDate").datepicker();
    });
</script>


<div id="data"></div>
</div>