<div class="home btn-group">&nbsp;<span class="glyphicon glyphicon-home"></span> Home</div><div class="home tab btn-group" style="width: 10%; border-left: none;" href="#admin">
    <button type="button" class="btn btn-default glyphicon glyphicon-th" style="text-align: center; padding:" data-toggle="dropdown"></button>
    <ul class="dropdown-menu pull-right" style="background-color: rgb(75,75,75); margin-right: -5px; width: 150px; margin-top: 0; padding: 0; border: 5px black solid; border-radius: 0;">
      <li><a  href="#admin">Admin</a></li>
      <div style="border-top: 5px black solid;"/>
      <li><a href="#data">Data Access</a></li>
      <div style="border-top: 5px black solid;"/>
      <li><a id="logout">logout</a></li>
    </ul>
  </div>

<div id="titleBlock">
    <h1>Marine Debris Project</h1>
    <h2>Welcome<br>Would you like to</h2>
</div>
<a type="button" class="btn btn-homepageButtons top_button" href="#status">
    <span class="glyphicon glyphicon-globe"></span>
    View status of beaches
</a>
<a type="button" class="btn btn-homepageButtons mid_button" href="#rate">
    <span class="glyphicon glyphicon-ok"></span>
    Rate Cleanliness of Beach
</a>
<a type="button" class="btn btn-homepageButtons" href="#survey">
    <span class="glyphicon glyphicon-list"></span>
    Survey Beach
</a>
