<a type="button" class="btn btn-home" id="header" href=""><span class="glyphicon glyphicon-picture"></span>  HOME</a>
<div id="titleBlock">
    <h1>Marine Debris Project</h1>
    <h2>Welcome<br>Would you like to</h2>
</div>
<a type="button" class="btn btn-homepageButtons" id="button1" href="#status">
    <span style="" class="glyphicon glyphicon-globe"></span>
    View status of beaches
</a>
<a type="button" class="btn btn-homepageButtons" id="button2" href="#rate">
    <span style="" class="glyphicon glyphicon-ok"></span>
    Rate Cleanliness of Beach
</a>
<a type="button" class="btn btn-homepageButtons" id="button3" href="#survey">
    <span style="" class="glyphicon glyphicon-list"></span>
    Survey Beach
</a>
<a type="button" class="btn btn-homepageButtons" id="button4" href="#report">
    <span style="" class="glyphicon glyphicon-trash"></span>
    Report Debris
</a>