<p id="home" class="home">&nbsp;<span class="glyphicon glyphicon-picture"></span> Home</p><a type="button" id="admin" class="home tab" href="#admin">Admin</a><a type="button" id="logout" class="home tab" href="#login">Logout</a>
<div id="titleBlock">
    <h1>Marine Debris Project</h1>
    <h2>Welcome<br>Would you like to</h2>
</div>
<a type="button" class="btn btn-homepageButtons top_button" href="#status">
    <span class="glyphicon glyphicon-globe"></span>
    View status of beaches
</a>
<a type="button" class="btn btn-homepageButtons mid_button" href="#rate">
    <span class="glyphicon glyphicon-ok"></span>
    Rate Cleanliness of Beach
</a>
<a type="button" class="btn btn-homepageButtons" href="#survey">
    <span class="glyphicon glyphicon-list"></span>
    Survey Beach
</a>