<div class="border">
    <a type="button" class="btn back" id="Name" href="#status"><span class="glyphicon glyphicon-chevron-left"></span><span><%=beachInfo.beachName%></span></a>
	    <h4 >Address: <%=beachInfo.address%>, <%=beachInfo.city%>, <%=beachInfo.state%>, <%=beachInfo.country%></h4>
      <h4 >Rating : <%=ratesHTML[0].rating%></h4> 
      <h4 >Last-Updated : <%=beachInfo.created%></h4>
      <h4 >Groomed : NOT ADDED YET</h4>
</div>
   	<div style="margin: 20px;">

   		<a type="button" class="btn btn-surveyButtons mid_button" id="a">Past Cleanliness Ratings</a>
<div class="block" id="block_a" style="padding: 0 0 25px 0;">
          <% 
    _.each( ratesHTML, function(rate) { %>
        <div class="surveyLink" style="color: black; text-align: center; line-height: 33px;"><%=rate.day%><%= rate.rating%></div>
    <% });
%>
</div>
      <a type="button" class="btn btn-surveyButtons mid_button" id="b">Latest Survey Results</a>
<div class="block" id="block_b" style="padding: 0 0 25px 0;">
          <% 
    _.each( surveysHTML, function(survey) { %>
        <a type="button" href="#survey/<%=survey.id%>" class="surveyLink btn"><%= survey.html%></a>
    <% });
%>
</div>
      <a type="button" class="btn btn-surveyButtons mid_button" id="c">Latest Debris Reports</a>
<div class="block" id="block_c" style="padding: 0 0 25px 0;">
          <% 
    _.each( reportsHTML, function(report) { %>
        <a href="#report/<%=report.id%>" class="surveyLink btn"><%= report.html %></a>
    <% });
%>
</div>
   		<div style="border-top-style: solid; border-top-width: 5px; border-top-color: black;"></div>
   	</div>


