<div class="border">
    <a type="button" class="btn back" id="Name" onClick="history.go(-1);return true;"><span class="glyphicon glyphicon-chevron-left"></span><span><%=beachInfo.beachName%></span></a>
	    <h5 >Address: <%=beachInfo.address%>, <%=beachInfo.city%>, <%=beachInfo.state%>, <%=beachInfo.country%></h5> 
      <h5 >Status : <%=beachInfo.lastRating%></h5>
      <h5 > Historical Rating : <%=average%></h5>
      <h5 >Last-Updated : <%=new Date(beachInfo.lastUpdated)%></h5>
      <h5 >Groomed : NOT ADDED YET</h5>
      <h5 >Temperature range: <%=high%>°C to <%=low%>°C </h5>
      <h5 >Conditions: <%=conditions%></h5>
</div>
   	<div style="margin: 20px;">

   		<a type="button" class="btn btn-surveyButtons mid_button" id="a">Past Cleanliness Ratings</a>
<div class="block" id="block_a" >
          <% 
    _.each( ratesHTML, function(rate) { %>
        <div class="surveyLink" style="color: black; text-align: center; margin-bottom: -5px;"><%=rate.day%><%= rate.rating%></div>
    <% });
%>
<div style="height: 5px;"/>
</div>
      <a type="button" class="btn btn-surveyButtons mid_button" id="b">Latest Survey Results</a>
<div class="block" id="block_b" >
          <% 
    _.each( surveysHTML, function(survey) { %>
        <a type="button" href="#survey/<%=survey.id%>"  style="margin-bottom: -5px;" class="surveyLink btn"><%= survey.html%></a>
    <% });
%>
<div style="height: 5px;"/>
</div>
   		<div style="border-top-style: solid; border-top-width: 5px; border-top-color: black;"></div>
   	</div>


