<div id="header"style="position: fixed; width: 100%; border-style: solid; background-color: white; border-width: 5px; border-color:black; z-index: 1000; top: 0px;">
    <a type="button" class="btn back" id="Name" href="#"><span class="glyphicon glyphicon-chevron-left"></span><span> Beaches </span></a>
    <a type="button" class="btn btn-view"href="#status">List</a><a type="button" class="btn btn-view disabled" style="background-color: gray;">Map</a>
</div>
<div id='map'></div>
<input placeholder='search' id='search' />