<div id="header"style="position: fixed; width: 100%; border-style: solid; background-color: white; border-width: 5px; border-color:black; top: 0px;">
    <a type="button" class="btn back" id="RateCleanliness" href="#report"><span class="glyphicon glyphicon-chevron-left"></span><span>  Report Multiple Debris</span></a>
    <input type="text" id="beachname" class="form-control" style="width: 70%; margin: 20px; margin-bottom: 0;" placeholder="Beachname"></input>
    <input type="checkbox" id="ucl"> Use my current location</input>
<h4>Additional Comments</h4>
    <textarea rows="2" maxlength="500" type="text" id="comments" class="form-control FT2"></textarea>
    <button style="margin-right: 20px; float: right; margin-bottom: 10px;" class="btn btn-submit">Report</button>
    <input style="margin-left: 20px; margin-top: 32px;" type="checkbox" id="itemsCleaned"><span>  Items have been cleaned up<span></input>
</div>
<script>
// FUNCTION TO CHECK IF THE INPUT IS A NUMBER
// Receives an onkeypress event
function validate(event) {
// This is this keycode of the key that was pressed
  var key = event.keyCode;
  // 48-57 is the keycode for 0-9 (for this keyboard atleast)
  if (!(key >= 48 && key <= 57))
  {
    // If the key is not between 48-57 prevent the default action (Default action is inputting the character)
    event.preventDefault()
  }
}
    document.getElementById("scroll").style.marginTop = $("#header").height();
</script>
<div id="scroll">
        <ul style="padding: 0 0 0 0; margin-bottom: 0px; border-bottom: solid 5px black;">
            <%
                _.each( items, function( itemList ) { %>
                    <a type="button" class="btn btn-surveyButtons top_button" style="" id="<%=itemList.id%>"><%=itemList.header%></a>
                    <div class="block" id="block_<%=itemList.id%>" style="padding: 0px; padding-bottom: 20px;">
                    <%
                    _.each( itemList.data, function( item ) { %>
                        <div style="border-width: 5px; border-style: solid; border-color: rgb(200,200,200); margin: 10px; margin-top: 0px;">
                            <a type="button" style="float:left; margin-left: 10px; line-height: 44px;font-size: 44px"class="btn btn-ticker">X</a>
                            <p id="item_name<%= item.id %>"class="items" role="presentation"><%= item.name %></p>
                            <a id="<%= item.id %>" type="button" class="btn btn-ticker pos"><span style="line-height:33px; z-index: -1000" class="glyphicon glyphicon-plus"></span></a>
                            <input onkeypress='validate(event)' maxlength="4" style="margin-top: 20px; display:inline; width: 70px; height: 44px; float: right; border-style: none; text-align: center; font-size: 2em;" id="text<%= item.id %>" type="text" value="0"/>
                            <a id="<%= item.id %>" type="button" class="btn btn-ticker neg"><span style="line-height:33px; z-index: -1000;" class="glyphicon glyphicon-minus"></span></a>
                        </div>
                    <% })
                    %>
                </div>
                <% });
            %>            
        </ul>
</div>
