<div class="border">
<a type="button" class="btn back" id="RateCleanliness" href=""><span class="glyphicon glyphicon-chevron-left"></span><span>  Rate Cleanliness</span></a>
    <div class="form-group">
            <input type="text" id="beachname" class="form-control" style="width: 70%; margin: 20px;" placeholder="Beachname"/>
            <input type="checkbox" id="checkbox" >  Use my current location</input>
    </div>
    <img id="IMG_RSRV" src="./images/BEACH_CLEAN.jpg">
    <input type="range" id="slider" name="cleanliness" class="form-control" value="0" min="0" max="2" />
    <div id="rating">Clean</div>
    <div class="text-center">
        <button id="submit" class="btn-submit">SUBMIT</button>
    </div>
</div> 
