<a type="button" class="btn btn-home" id="RateCleanliness" href=""><span class="glyphicon glyphicon-chevron-left"></span><span>  Rate Cleanliness</span></a>
<form action="#">
    <div class="form-group">
            <input type="text" id="beachname" name="beachname" class="form-control" placeholder="Beachname"/>
            <input type="checkbox" id="ucl" >  Use my current location</input>
    </div>
    <div id="IMG_RSRV">HELLO</div>
    <input type="range" id="slider" name="cleanliness" class="form-control" value="0" min="0" max="3" />
    <div id="rating">Clean</div>
    <div class="text-center">
        <button class="btn btn-submit login-button">SUBMIT</button>
    </div>
</form>
