<div class="border">
<a type="button" class="btn back" id="ReportDebris" href=""><span class="glyphicon glyphicon-chevron-left"></span><span>  Report Debris</span></a>
<h4>Photo</h4>


	<div id="IMG_RSRV" style="border: 5px solid black;">
				<h4 style="margin: 0; position: absolute; display: block; width: 390px; height: 190px; text-align: center; line-height: 190px;z-index: -1000;">Choose A Picture</h4>
		<input id="inputFileToLoad" type="file" style="display: none;"/>
		<image id="image" style="height: 100%; width: 100%;">
	</div>
<script>
$("#image").click(function () {
    $("#inputFileToLoad").trigger('click');
});
</script>

<h4>Beach Name</h4>
<input type="text" id="beachname" class="form-control FT2" />
<h4>Item</h4>
<input type="text" id="item" class="form-control FT2" />
<input type="checkbox" id="checkbox" >  The debris is at my current location</input>
<h4>Additional Comments (optional)</h4>
<textarea rows="3" id="comments" class="form-control FT2" />
<button type="button" id="submit" style="margin-left: 20px;" class="btn btn-submit">Submit</button>
<a class="pull-right" style="margin-right: 20px; margin-top: 32px;" href="#multipleReport">Report Multiple Debris</a>
</div>
