<a type="button" class="btn btn-home" id="ReportDebris" href=""><span class="glyphicon glyphicon-chevron-left"></span><span>  Report Debris</span></a>
<h4>Photo</h4>
<div id="IMG_RSRV">HELLO</div>
<div class="form-group">
	<h4>Item</h4>
	<input type="text" id="item" class="form-control"/>
	<input type="checkbox" id="cl">  The debris is at my current location</input>
	<h4>Describe Location</h4>
	<input type="text" id="description" class="form-control"/>
	<h4>Additional Comments (optional)</h4>
	<textarea rows="3" maxlength="500" type="text" id="comments" class="form-control"/>
	<div class="pull-left">
		<button type="button" class="btn btn-submit report-button">Report</button>
	</div>
	<div class="pull-right">
		<a type="button" class="multi-button" href="multipleReport">Report Multiple Debris</a>
	</div>
</div>