<div id="header"style="position: fixed; width: 100%; border-style: solid; background-color: white; border-width: 5px; border-color:black; top: 0px;">
    <a type="button" class="btn back" id="RateCleanliness" onClick="history.go(-1);return true;"><span class="glyphicon glyphicon-chevron-left"></span><span> Search</span></a>
    	<h4 style="margin: 10px;"> Search By Beach Name </h4>
        <input type="text" id="beachname" class="form-control FT" style="margin-left: 10px;" placeholder="Beach Name"/>
        <h4 style="margin: 10px;"> Search By Coordinates </h4>
        <div style="font-size: 25px;">
	        	<h4 style="display: inline-block; width: 30%; font-size: 1.25em;margin-left: 10px;">Latitude:</h4>
                <input onkeypress='validate(event)' type="text" id="lat" class="form-control FT" style="width: 30%; text-align: center; padding: 0; display: inline-block;" value="0" />
                <div/>
		        <h4 style="display: inline-block; width: 30%; font-size: 1.25em; margin-left: 10px;">Longitude:</h4>
		        <input onkeypress='validate(event)' type="text" id="lon" class="form-control FT" style="width: 30%; text-align: center; padding: 0; display: inline-block;" value="0" />

    	</div>
    	<a type="button" id="searchByCoord" class="btn btn-primary FT" style="line-height: 250%;">Search By Coordinates</a>
    </div>
    <script> 
    document.getElementById("container").style.top = $('#header').height()  + 10;
    </script>
    <div id="container" style="position: absolute; z-index: -1000;"></div>