 <div id="login-message" style="font-size: 5%; height: 10%; margin: 0; padding: 0; padding-left: 1%; line-height: 250%;" class="alert alert-danger hidden"></div>
<p style="text-align: center; font-size: 10%;">Sign Up</p>
        <h4>Email</h4>
        <input type="text" id="username" class="form-control FT2" />

        <h4>Password</h4>
        <input type="password" id="password" class="form-control FT2" />
        <div style="height: 10%"/>
        <button id="submit" class="btn btn-primary FT2 FT2-button">Submit</button>
        <div style="height: 5%"/>
        <button id="back" class="btn btn-primary FT2 FT2-button">Back To Login</button>
<!-- BEWARE OF MARGINS THEY ARE NOT SAFE !-->