<header class="bar clearfix header">
    <div class="pull-left">
        <img src="../../img/ExactEarthLogo.png" class="header-image"/>
    </div>

     <div class="header-title pull-left">
         exactEarth Viewer Demo
     </div>

     <div id="loaderContainer" class="pull-left">
         <img id="loader" src="../../img/loader.gif" class="loader hide" />
     </div>

     <div class="search-form" style="padding-right: 20%; padding-left 20%;">
         <div class="form-search" style="margin-top: 2px; margin-bottom: 0px;">
             <input type="text" class="input-large search-query" style="height: 15px">
             <button id="searchButton" class="btn-small">Search</button> 
             <div class="search-help"> Find Name, MMSI, IMQ, Call Sign </div>
         </div>
     </div>
 </header>

