<div class="header bordered">
    Add New filter 
</div>

<div class="vpadded10">
    <input id="filterName" type="text" placeholder="Name" value="<%= model.get('name') %>" style="margin-left: 5px;"/>
</div>

<table class="table table-condensed" style="margin-bottom: 0px;">
        <tr>
            <td colspan="2">
                Type:
            </td>
            <td colspan="4">
                Value:
            </td>
        </tr>

        <% _.each(model.get("operators"), function(operator) { %>

        <tr>
        <td>
            <select id="<%= operator.id + '-property' %>">
                <% _.each(features, function(feature) { %>
                <option value="<%= feature.name %>" <% if (operator.property == feature.name) { %> selected <% } %>><%= feature.name %></option>
                <% }); %>
            </select>
        </td>
        <td>
            <select id="<%= operator.id + '-type' %>">
                <% _.each(types, function(type) { %>
                <option value="<%= type %>" <% if (operator.type == type) { %> selected <% } %>><%= type %></option>
                <% }); %>
            </select>
        </td>
        <td <%= operator.upperBoundary ? '' : 'colspan="2"' %>> 
            <input id="<%= operator.id + '-lower' %>" type="text" class="wide-90 staged" value="<%= operator.value ? operator.value : operator.lowerBoundary %>" />
        </td>
        <td class="<%= operator.upperBoundary ? '' : 'hide' %>"> 
            <input id="<%= operator.id + '-upper' %>" type="text" class="wide-90 staged <%= operator.upperBoundary ? '' : 'hide' %>" value="<%= operator.upperBoundary %>" />
        </td>
        <td>
            <div class="plus-minus-container">
                <img id="<%=operator.id%>" src="../../img/minus.png" class="icon-small vpadded5 delete-row" />
            </div>
        </td>
    </tr>

    <% }); %>

    <tr>
        <td class="canFade">
            <select id="newProperty">
                <% _.each(features, function(feature) { %>
                    <option value="<%= feature.name %>"><%= feature.name %></option>
                <% }); %>
            </select>
        </td>
        <td class="canFade">
            <select id="newType">
                <% _.each(types, function(type) { %>
                    <option value="<%= type %>"><%= type %></option>
                <% }); %>
            </select>
        </td>
        <td class="canFade"> 
            <input id="newLower" type="text" class="wide-90" />
        </td>
        <td class="canFade"> 
            <input id="newUpper" type="text" class="wide-90" />
        </td>
        <td class="canFade">
            <div class="plus-minus-container">
                <img src="../../img/plus.png" class="icon-small vpadded5 add-row" />
            </div>
        </td>
        <td style="width: 10px">
            <div class="plus-minus-container sub-filter-marker subFilter subFilter-1 clearfix">
                <div class="pull-right">
                    <img id="newSubFilter" src="../../img/arrow-right.png" class="icon-small vpadded5" />
                </div>
                <div id="newSubFilterContainer" class="pull-right margin-centered padded5">
                    New Sub-filter
                </div>
            </div>
        </td>
    </tr>

</table>

<div class="pull-right padded">
    <button id="clearFilter" class="btn"> Clear </button>
    <button id="createFilter" class="btn"> Create </button>
    <button id="applyFilter" class="btn"> Apply </button>
</div>

