<div class="saved-filter clearfix collapsed notExpanded <% if (filter.get('active')) { %> selected <% } %>">
    <div class="pull-left">
        <%=filter.get('name') %>
    </div>
    <div class="pull-right">
        <div class="collapsed-checkbox">
            <input id="<%= filter.get('_id') %>-checkbox" class="activateCheckbox" type="checkbox" <% if (filter.get("active")) { %> checked <% } %>/>
        </div>
    </div>
</div>
<div id="<%= filter.get('_id') %>-container" class="filter-operands-container clearfix">
    <div id="filterHeader" class="filter-list-header clearfix">
        <div class="pull-left">
            Type:
        </div>
        <div class="pull-left">
            Value:
        </div>
    </div>

    <% if (filter.getBins().length > 0 || filter.get("topLevelBin").operators.length > 0) { %>
    <div class="wide-100 clearfix">
        <div id="binLogicOperator" class="logic-bin-operator pull-left">
            <label class="logicalOperatorContainer checkbox toggle well between-operators">
                <input id="<%= filter.get('_id') %>-filterLogicalOperatorCheckbox" class="logicalOperator" type="checkbox" <% if (filter.get("topLevelBin").type == "&&") { %> checked <% } %> />
                <p>
                <span>AND</span>
                <span>OR</span>
                </p>

                <a id="logicalOperator" class="btn btn-info slide-button"></a>
            </label>
        </div>
        <div id="<%= filter.get('_id') %>-addLogicBin" class="pull-left add-logic-bin">
            <img src="../../img/plus.png" class="icon-small vpadded5 pointer" />
        </div>
    </div>

    <div id="<%= filter.get('_id') %>-topLevelBinContainer" class="logic-bin">
        <ul id="<%= filter.get('_id') %>-topLevelBin" class="sortable ui-sortable connected">
            <% _.each(filter.get("bins"), function(bin) { %>
            <li id="<%= bin.id %>-bin" class="ui-state-default remove-default">
                <span class="handle" />
                    <div id="logicBin" class="wide-100 clearfix">
                        <div class="wide-100 clearfix">
                            <div id="binLogicOperator" class="logic-bin-operator pull-left inner-logic-operator">
                                <label class="logicalOperatorContainer checkbox toggle well between-operators">
                                    <input id="<%= bin.id %>-logicalOperatorCheckbox" class="logicalOperator" type="checkbox" <% if (bin.type == "&&") { %> checked <% } %>/>
                                    <p>
                                    <span>AND</span>
                                    <span>OR</span>
                                    </p>

                                    <a id="logicalOperator" class="btn btn-info slide-button"></a>
                                </label>
                            </div>
                            <div class="pull-left add-logic-bin">
                                <img id="<%= bin.id %>-<%= filter.get('_id') %>-removeBin" src="../../img/minus.png" class="icon-small vpadded5 pointer" />
                            </div>
                        </div>
                        <div id="<%= bin.id %>-<%= filter.get('_id') %>-logicBinContainer" class="inner-logic-bin-container">
                            <ul id="<%= bin.id %>-<%= filter.get('_id') %>-innerBin" class="sortable ui-sortable inner-bin connected">
                                <% _.each(bin.operators, function(operator) { %>
                                <li id="<%= operator.id %>-<%= bin.id %>-<%= filter.get('_id') %>-newOperator" class="ui-state-default">
                                    <span class="handle" />
                                    <% if (operator.get && operator.get("isSubFilter")) { %>
                                        <div class="operator-container clearfix">
                                            <div class="wide-50">
                                                <div class="clearfix operator">
                                                    <div class="pull-left">
                                                        Subfilter 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wide-50">
                                                <div class="clearfix subFilter-operator">
                                                    <div class="pull-right">
                                                        <div class="plus-minus-container sub-filter-marker subFilter viewSavedSubFilter-1 clearfix">
                                                            <div class="pull-right">
                                                                <img id="<%= operator.get('id') %>-<%= bin.id %>-<%= filter.get('_id') %>-subFilter" src="../../img/arrow-right.png" class="icon-small vpadded5" />
                                                            </div>
                                                            <div id="<%= operator.get('id') %>-<%= bin.id %>-<%= filter.get('_id') %>-subFilterContainer" class="pull-right padded5">
                                                                View Sub-filter
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pull-right wide-20 centered">
                                                        <div class="plus-minus-container">
                                                            <img id="<%=operator.id %>-<%= bin.id %>-<%= filter.get('_id') %>" src="../../img/minus.png" class="icon-small vertical-5 delete-row" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            <% } 
                                            else { %>
                                        <div class="operator-container clearfix">
                                            <div class="wide-50 clearfix">
                                                <div class="clearfix">
                                                    <div class="pull-left operator">
                                                        <select id="<%= operator.id + '-' + bin.id + '-' + filter.get('_id') + '-property' %>" class="property">
                                                            <% _.each(features, function(feature) { %>
                                                            <option value="<%= feature.name %>" <% if (operator.property == feature.name) { %> selected <% } %>><%= feature.name %></option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                    <div class="centered inline operator-type-select">
                                                            <select id="<%= operator.id + '-' + bin.id + '-' + filter.get('_id') + '-type' %>" class="type">
                                                                <option value="<%= operator.type %>"  selected><%= operator.type %></option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wide-50 clearfix">
                                                <div class="clearfix">
                                                    <div class="pull-left wide-80">
                                                        <div class="inline <%= operator.upperBoundary ? 'wide-45i' : '' %> wide-100">
                                                            <input id="<%= operator.id + '-' + bin.id + '-' + filter.get('_id') + '-lower' %>" type="text" class="wide-90 staged" value="<%= operator.value ? operator.value : operator.lowerBoundary %>" />
                                                        </div>
                                                        <div class="inline <%= operator.upperBoundary ? '' : 'hide' %> wide-45 pull-right">
                                                            <input id="<%= operator.id + '-' + bin.id + '-' + filter.get('_id') + '-upper' %>" type="text" class="wide-90 staged" value="<%= operator.upperBoundary %>" />
                                                        </div>
                                                    </div>
                                                    <div class="pull-right plus-minus-container wide-20 centered">
                                                        <img id="<%=operator.id %>-<%= bin.id %>-<%= filter.get('_id') %>" src="../../img/minus.png" class="icon-small vertical-5 delete-row" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </li>
            <% }); %>
        <% _.each(filter.get("topLevelBin").operators, function(operator) { %>
            <li id="<%= operator.id %>-<%= filter.get('_id') %>-newOperator" class="ui-state-default" style="margin-top: 5px">
                <span class="handle" />
            <% if (operator.get && operator.get("isSubFilter")) { %>
                <div class="operator-container clearfix">
                    <div class="wide-50">
                        <div class="clearfix operator">
                            <div class="pull-left">
                                Subfilter 
                            </div>
                        </div>
                    </div>
                    <div class="wide-50">
                        <div class="clearfix subFilter-operator">
                            <div class="pull-right">
                                <div class="plus-minus-container sub-filter-marker subFilter viewSavedSubFilter-1 clearfix">
                                    <div class="pull-right">
                                        <img id="<%= operator.get('id') %>-<%= filter.get('_id') %>-subFilter" src="../../img/arrow-right.png" class="icon-small vpadded5" />
                                    </div>
                                    <div id="<%= operator.get('id') %>-<%= filter.get('_id') %>-subFilterContainer" class="pull-right padded5 ">
                                        View Sub-filter
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right wide-20 centered">
                                <div class="plus-minus-container">
                                    <img id="<%=operator.id %>-<%= filter.get('_id') %>" src="../../img/minus.png" class="icon-small vertical-5 delete-row" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <% } 
                    else { %>
                <div class="operator-container clearfix">
                    <div class="wide-50 clearfix">
                        <div class="clearfix">
                            <div class="pull-left operator">
                                <select id="<%= operator.id + '-' + filter.get('_id') + '-property' %>" class="property">
                                    <% _.each(features, function(feature) { %>
                                    <option value="<%= feature.name %>" <% if (operator.property == feature.name) { %> selected <% } %>><%= feature.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="centered inline operator-type-select">
                                    <select id="<%= operator.id + '-' + filter.get('_id') + '-type' %>" class="type">
                                        <option value="<%= operator.type %>"  selected><%= operator.type %></option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="wide-50 clearfix">
                        <div class="clearfix">
                            <div class="pull-left wide-80">
                                <div class="inline <%= operator.upperBoundary ? 'wide-45i' : '' %> wide-100">
                                    <input id="<%= operator.id + '-' + filter.get('_id') + '-lower' %>" type="text" class="wide-90 staged" value="<%= operator.value ? operator.value : operator.lowerBoundary %>" />
                                </div>
                                <div class="inline <%= operator.upperBoundary ? '' : 'hide' %> wide-45 pull-right">
                                    <input id="<%= operator.id + '-' + filter.get('_id') + '-upper' %>" type="text" class="wide-90 staged" value="<%= operator.upperBoundary %>" />
                                </div>
                            </div>
                            <div class="pull-right plus-minus-container wide-20 centered">
                                <img id="<%=operator.id%>-topLevelBin-<%= filter.get('_id') %>" src="../../img/minus.png" class="icon-small vpadded5 delete-row" />
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                </li>
            <% }); %>
        </ul>
    </div>
    <% } %>

    <div id="<%= filter.get('_id') %>-operatorsContainer" <% if (filter.get("topLevelBin").operators.length > 0 || filter.getBins().length > 0) { %> class="new-operator" <% } %>>
        <div class="operator-container clearfix">
            <div class="wide-50 clearfix">
                <div class="clearfix">
                    <div class="pull-left operator">
                        <select id="<%= filter.get('_id') %>-newProperty" class="property">
                            <% _.each(features, function(feature) { %>
                                <option value="<%= feature.name %>"><%= feature.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="centered inline operator-type-select">
                        <select id="<%= filter.get('_id') %>-newType" class="type">
                            <% _.each(types, function(type) { %>
                                <option value="<%= type %>"><%= type %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="wide-50 clearfix">
                <div class="clearfix">
                    <div class="pull-left wide-80">
                        <div id="<%= filter.get('_id') %>-newLowerContainer" class="inline wide-100">
                            <input id="<%= filter.get('_id') %>-newLower" type="text" class="wide-90 staged" >
                        </div>
                        <div class="inline wide-45 pull-right">
                            <input id="<%= filter.get('_id') %>-newUpper" type="text" class="wide-90 staged">
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="plus-minus-container sub-filter-marker new subFilter savedSubFilter-1 clearfix">
                            <div class="pull-right">
                                <img id="<%= filter.get('_id') %>-newSubFilter" src="../../img/arrow-right.png" class="icon-small vpadded5" />
                            </div>
                            <div id="<%= filter.get('_id') %>-newSavedSubFilterContainer-1" class="pull-right margin-centered padded5">
                                New Sub-filter
                            </div>
                        </div>
                    </div>
                    <div class="pull-right plus-minus-container wide-20 centered">
                        <img src="../../img/plus.png" class="icon-small vpadded5 add-row" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pull-right padded">
        <button id="deleteFilter" class="btn btn-danger deleteFilter"> Delete </button>
        <button id="saveFilter" class="btn saveFilter"> Save </button>
    </div>
</div>

