    <tr>
        <td>
            <select class="wide-30">
                <option value="sdf">asd</option>
            </select>
        </td>
        <td>
            <select class="wide-30">
                <option value="sdf">asd</option>
            </select>
        </td>
        <td> 
            <input type="text" class="wide-90" />
        </td>
        <td>
            <div class="plusMinusContainer">
                <img src="../../img/minus.png" class="icon-small vertical-5 delete-row" />
            </div>
        </td>
    </tr>

