<div class="home btn-group">&nbsp;<span class="glyphicon glyphicon-home" style="font-size: 75%;"></span> Home</div><div class="tab btn-group">
    <button type="button" class="btn btn-default glyphicon glyphicon-th" style="padding: 0;" data-toggle="dropdown"></button>
    <ul class="dropdown-menu dropdown2 pull-right">
      <li><a  href="#admin">Admin</a></li>
      <div style="border-top: 5px black solid;"/>
      <li><a href="#data">Data Access</a></li>
      <div style="border-top: 5px black solid;"/>
      <li><a id="logout">Logout</a></li>
    </ul>
  </div>

<div id="titleBlock">
    <h1>Marine Debris Project</h1>
    <div style="height: 20%"/>
    <h1>Welcome<br>Would you like to</h1>
</div>
<a type="button" class="btn btn-homepageButtons top_button" href="#status">
    <span class="glyphicon glyphicon-globe"></span>
    View status of beaches
</a>
<a type="button" class="btn btn-homepageButtons mid_button" href="#rate">
    <span class="glyphicon glyphicon-ok"></span>
    Rate Cleanliness of Beach
</a>
<a type="button" class="btn btn-homepageButtons mid_button" href="#survey">
    <span class="glyphicon glyphicon-list"></span>
    Survey Beach
</a>
<a type="button" class="btn btn-homepageButtons" href="#report">
    <span class="glyphicon glyphicon-trash"></span>
    Report Debris
</a>