<div class="login-form">
    <form action="">
        <fieldset>
            <div>
                <input id="username" type="text" placeholder="Username">
            </div>
            <div>
                <input id="password" type="password" placeholder="Password">
            </div>
            <div>
                <span class="help-inline">Authorization failed</span>
            </div>

            <button id="loginButton" data-loading-text="authorizing..." class="btn primary span6 offset4">log in</button>
        </fieldset>
    </form>
</div>
