<form id="signin">
    <div>
        <input id="signin__username" class="topcoat-text-input--large" type="text" placeholder="Username">
    </div>
    <div>
        <input id="signin__password" class="topcoat-text-input--large" type="password" placeholder="Password">
    </div>
    <div id="signin__help" class="hide">
        <span class="help-inline">Authorization failed</span>
    </div>

    <button id="signin__login" data-loading-text="authorizing..." class="topcoat-button">log in</button>
</form>