<h4>Add New Filter</h4>

<input type="text" placeholder="Name" style="margin-left: 5px;"/>

<table class="table table-condensed">
    <th>
        <tr>
            <td colspan="2">
                Type:
            </td>
            <td colspan="2">
                Value:
            </td>
        </tr>
    </th>
    <tr>
        <td>
            <select class="wide-30">
                <option value="sdf">asd</option>
            </select>
        </td>
        <td>
            <select class="wide-30">
                <option value="sdf">asd</option>
            </select>
        </td>
        <td> 
            <input type="text" class="wide-90" />
        </td>
        <td>
            <div class="plusMinusContainer">
                <img src="../../img/minus.png" class="icon-small vertical-5" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <select class="wide-30">
                <option value="sdf">asd</option>
            </select>
        </td>
        <td>
            <select class="wide-30">
                <option value="sdf">asd</option>
            </select>
        </td>
        <td> 
            <input type="text" class="wide-90" />
        </td>
        <td>
            <div class="plusMinusContainer">
                <img src="../../img/plus.png" class="icon-small vertical-5" />
            </div>
        </td>
    </tr>

</table>


