<header class="bar clearfix header">
    <div class="pull-left">
        <img src="../../img/ExactEarthLogo.png" class="header-image"/>
    </div>

     <div class="header-title pull-left">
         Exact Earth Viewer Demo
     </div>

     <div class="search-form" style="padding-right: 20%; padding-left 20%;">
         <form class="form-search" style="margin-top: 2px; margin-bottom: 0px;">
             <input type="text" class="input-large search-query" style="height: 15px">
             <button type="submit" class="btn-small">Search</button> 
             <div class="search-help"> Find Name, MMSI, IMQ, Call Sign </div>
         </form>
     </div>
 </header>

