/*
    CSS for the application
*/

html, body {
	background-color: #eee;
	font-family: frutiger, helvetica, arial, sans-serif;
}

h1 {
	font-size: 200%;
}

#header {
	background-color: #06c;
	color: #fff;

	height: 82px;
	vertical-align: middle;


}

#header	img {
	vertical-align: middle;
}

#footer {

}