/*
    CSS for the application

		Primary Colors:
    Communitech Blue:				#06c;
		White:									#fff;
		Black:									#000;

		Secondary Colors:;
		Communitech Light Grey: #bfbfbf;
		Communitech Dark Grey: 	#818181;
		Communitech Light Blue: #bcd5e4;
		Communitech Dark Blue:	#7aaacb;
*/

html, body {
	height: 100%;

	background-color: #bfbfbf;
	font-family: "frutiger", helvetica, arial, sans-serif;
}

h1 {
	font-size: 200%;
}

#header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 82px;

	background-color: #06c;
	color: #fff;
}

#header	img {
	vertical-align: middle;
}

#content {
	position: fixed;
	top: 82px;
	bottom: 82px;
	width: 100%;
	height: 100%;
}

#footer {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 16px;

	padding: 2px;

	background-color: #bcd5e4;
	color: #000;

	text-align: right;
}

.hide {
	display: none;
}

/*
  Section-specific styles
*/

#signin {
	margin-top: 1%;
	text-align: center;
	width: 100%;
}