<div class="header bordered">
    Ship List
</div>

<% if (ships.length === 0) { %>
<div class="text-center">
    No ships to display
</div>
<% } else { %>

<table class="table table-condensed" style="margin-bottom: 0px;">
        <tr>
            <td colspan="2">
                MMSI:
            </td>
            <td colspan="2">
                Name:
            </td>
        </tr>

        <% ships.each(function(ship) { %>

        <tr>
            <td>
                <%= ship.get("mmsi") %>
            <td>
            </td>
            <td>
            <%= ship.get("vessel_name") %>
            </td>
        </tr>
    <% }); %>
</table>
<% } %>
